.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
    box-sizing: border-box;

    @media screen and (max-width: 1023px) {
      padding: 15px 0;
    }
  }

  &__menu,
  &__callback {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
  }

  &__menu {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &__menu-item {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 0 30px;

    @media screen and (min-width: 1200px) and (max-width: 1800px) {
      font-size: 18px;
      margin: 0 15px;
    }

    @media screen and (max-width: 1199px) {
      padding: 10px 0;
      margin: 0;
      display: block;
      text-transform: uppercase;
    }

    @media screen and (max-width: 1023px) {
      padding: 5px 0;
      font-size: 20px;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    margin-right: 30px;

    @media screen and (min-width: 1200px) and (max-width: 1800px) {
      font-size: 24px;
      margin-right: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 24px;
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      font-size: 21px;
      margin-right: 0;
    }
  }

  &__modal {
    padding: 12px 34px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @media screen and (min-width: 1200px) and (max-width: 1800px) {
      padding: 10px 20px;
      font-size: 18px;
    }

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &_mobile {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }
}
